.nav {
  padding: 20px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.1);
}

.nav ul{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.ul a{
  transition: all 0.5s ease;
}


.ul a:hover{
  color: #aeaecb
}
